html,
body {
  margin: 0;
  height: 100%;
  overflow: hidden;
}

h1 {
  font-size: 32em;
  color: rgba(168, 120, 31, 0.479);
  margin: 0;
  font-family: "Poppins", sans-serif;
  font-weight: bold;
}

.clock {
  position: absolute;
  top: 58%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.back {
  background-image: url("back.jpg");
}

.fore {
  background-image: url("fore.png");
}

.back,
.fore {
  background-size: cover;
  background-position: center;
  position: absolute;
  width: 100%;
  height: 100%;
}
